@page "/connect"
@inject ConnectionService ConnectionService
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@using TransmissionManager.Api.Common.Dto.AppInfo
@using TransmissionManager.Api.Common.Serialization
@using TransmissionManager.Web.Extensions
@using TransmissionManager.Web.Services
@using TransmissionManager.Web.Validation

<PageTitle>Transmission Manager - Connect</PageTitle>

<div class="item-card">
    <h4 class="text-header">Connect to Transmission Manager</h4>

    <EditForm Model="this" OnValidSubmit="ConnectAsync">
        <DataAnnotationsValidator />

        <div>
            <label for="host">Host:</label>
            <InputText id="host" class="form-input" @bind-Value="Host" />
            <ValidationMessage For="@(() => Host)" />
        </div>

        <div>
            <label for="port">Port:</label>
            <InputNumber id="port" class="form-input" @bind-Value="Port" />
            <ValidationMessage For="@(() => Port)" />
        </div>

        <button class="form-button" type="submit" disabled="@IsConnecting">Connect</button>

        <p>@_connectionMessage</p>
    </EditForm>
</div>

@code {
    private enum ConnectionStatus
    {
        Connecting,
        Connected,
        Error
    }

    private ConnectionStatus _connectionStatus = ConnectionStatus.Error;
    private string _connectionMessage = string.Empty;

    [Required, HostName]
    public string Host { get; set; } = string.Empty;

    [Required, Range(0, 65535)]
    public int Port { get; set; } = 9092;

    private bool IsConnecting => _connectionStatus is ConnectionStatus.Connecting;

    protected override void OnInitialized()
    {
        Host = ConnectionService.BaseAddress.Host;
        Port = ConnectionService.BaseAddress.Port;
    }

    private async Task ConnectAsync()
    {
        if (_connectionStatus is ConnectionStatus.Connecting)
            return;

        Uri baseAddress;
        try
        {
            baseAddress = new UriBuilder("http", Host, Port).Uri;
        }
        catch (UriFormatException e)
        {
            _connectionMessage = e.Message;
            _connectionStatus = ConnectionStatus.Error;
            return;
        }

        _connectionMessage = "Connecting...";
        _connectionStatus = ConnectionStatus.Connecting;

        GetAppInfoResponse? appInfo = null;
        try
        {
            appInfo = await ConnectionService.ConnectAsync(baseAddress).ConfigureAwait(false);
        }
        catch (OperationCanceledException)
        {
            _connectionMessage = $"Connection attempt timed out. Please check the {nameof(Host)} and {nameof(Port)}.";
        }
        catch (Exception e)
        {
            _connectionMessage = e.Message;
        }

        if (appInfo is not null)
        {
            _connectionMessage = $"Connected to {baseAddress} " +
                $"| Version: {appInfo.Value.Version} " +
                $"| Server time: {appInfo.Value.LocalTime.ToServerTimeString()}";

            _connectionStatus = ConnectionStatus.Connected;
        }
        else if (string.IsNullOrEmpty(_connectionMessage))
        {
            _connectionMessage = $"Failed to connect. Please check the {nameof(Host)} and {nameof(Port)}.";
            _connectionStatus = ConnectionStatus.Error;
        }
    }
}
