*.csproj.user
.vs
.vscode
TransmissionManager.db*
src/TransmissionManager*/bin
src/TransmissionManager*/obj
src/TransmissionManager*/appsettings.*.json
/src/TransmissionManager.Api/appsettings.Development.json
