@using TransmissionManager.Web.Constants
@inherits LayoutComponentBase

<div class="layout-container">
    <header class="layout-header">
        <NavMenu />
    </header>

    <main class="layout-main">
        @Body
    </main>
</div>
