@using TransmissionManager.Web.Constants
@inherits LayoutComponentBase

<div class="layout-container">
    <header class="layout-header">
        <div class="layout-header-content">
            <!-- When updating PageAddresses.cs, also update the corresponding page -->

            <NavLink href="@PageAddresses.Home" class="nav-tab" Match="NavLinkMatch.All">
                <img src="img/home.svg" title="Home" alt="Home icon"/>
            </NavLink>

            <NavLink href="@PageAddresses.TorrentsAdd" class="nav-tab">
                <img src="img/add.svg" title="Add Torrent" alt="Add Torrent icon" />
            </NavLink>

            <NavLink href="@PageAddresses.Connect" class="nav-tab push-right">
                <img src="img/link.svg" title="Connect" alt="Connect icon" />
            </NavLink>
        </div>
    </header>

    <main class="layout-main">
        @Body
    </main>
</div>
