@using TransmissionManager.Web.Services
@inherits LayoutComponentBase

<div class="layout-container">
    <header class="layout-header">
        <!-- When updating the addresses, also update PageAddresses.cs -->

        <NavLink href="torrents" class="nav-tab" Match="NavLinkMatch.All">
            <img src="img/home.svg" title="Home" alt="Home icon"/>
        </NavLink>

        <NavLink href="torrents/add" class="nav-tab">
            <img src="img/add.svg" title="Add Torrent" alt="Add Torrent icon" />
        </NavLink>

        <NavLink href="connect" class="nav-tab">
            <img src="img/link.svg" title="Connect" alt="Connect icon" />
        </NavLink>
    </header>

    <main class="layout-main">
        @Body
    </main>
</div>
