@using TransmissionManager.Web.Constants

<nav class="layout-header-nav">
    <!-- When updating PageAddresses.cs, also update the corresponding page -->

    <NavLink href="@PageAddresses.Home" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/home.svg" title="Home" alt="Home icon" />
    </NavLink>

    <NavLink href="@PageAddresses.TorrentsAdd" class="nav-tab">
        <img src="img/add.svg" title="Add Torrent" alt="Add Torrent icon" />
    </NavLink>

    <NavLink href="@PageAddresses.Connect" class="nav-tab push-right">
        <img src="img/link.svg" title="Connect" alt="Connect icon" />
    </NavLink>

    <a class="nav-tab" @onclick="OnChangeTheme">
        @if (Theme is Theme.Dark)
        {
            <img src="img/sun.svg" title="Switch to light theme" alt="Light theme icon" />
        }
        else
        {
            <img src="img/moon.svg" title="Switch to dark theme" alt="Dark theme icon" />
        }
    </a>
</nav>

@code {
    [Parameter]
    public EventCallback OnChangeTheme { get; set; }

    [Parameter]
    public Theme Theme { get; set; } = Theme.Light;
}